
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(135deg ,#71b7e6 ,#9b59b6);
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: #fff;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:linear-gradient(135deg ,#71b7e6 ,#9b59b6);
}
.container foreignObject .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    width: calc(100% /2 - 20px);
    /* margin: 20px 0 12px 0; */
    margin: 20px auto;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input :focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .buttons{
    height: 45px;
    max-width: 45px 0;

}

form .buttons input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg ,#71b7e6 ,#9b59b6);
}
form .buttons input:hover{
    background:linear-gradient(-135deg ,#71b7e6 ,#9b59b6);
}
@media (max-width: 584px){
.container{
    width: 100%;

}

form .user-details .input-box{
    width: 100%;
    margin: 20px 0 12px 0;
}
}